{% extends 'blog/base.html' %}

{% block body %}
    <div class="post-detail">
        <h1>{{ post_detail.title }}</h1>
        <div class="description">{{ post_detail.category }} | {{ post_detail.published_date }}</div>
        <div id="body" class="body">{{ post_detail.text }}</div>
    </div>
{% endblock %}

{% block script %}
    <!--   https://github.com/markedjs/marked   -->
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script>
        const body = document.getElementById('body');
        const innerHTML = body.innerHTML;
        
        body.innerHTML = innerHTML.replace(
            // "-->"를 "&rightarrow;"로 바꿔줍니다.
            /--&gt;/gi, "&rightarrow;"
        ).replace(
            // 빈 줄을 인식하여 띄워줍니다.
            /^(\r\n|\n|\r|\s*)$/gm, "&nbsp;\n"
        ).replace(
            // 문단의 끝을 인식하여 처리해줍니다.
            /$/gm, "  "
        ).replace(
            // **로 감싸진 텍스트를 파싱한다. Greedy detection.
            /\*{2}([^\*]+?)\*{2}/gi, "<strong>$1</strong>"
        ).replace(
            // *로 감싸진 텍스트를 파싱한다. Greedy detection.
            /\*{1}([^\*]+?)\*{1}/gi, "<em>$1</em>"
        )
        
        body.innerHTML = marked(body.innerHTML);
        
        shortcuts["e"] = function (e) {
            e.preventDefault();
            const post_id = {{ post_detail.id }};
            document.location.href = "/post/" + post_id + "/edit/";
        };
    </script>
{% endblock %}
