
.app-container {
    padding: 48px 10%;
}

.post-item {
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.post-item .title a {
    color: black;
    font-size: 24px;
    font-weight: bold;
}

.post-detail .description {
    color: grey;
    font-size: 18px;
}

.post-detail .body {
    margin-top: 24px;
    
    word-break: keep-all;
    word-wrap: normal;
}

.auth-form {
    text-align: center;
}

.auth-form .title {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

.auth-form .form-container {
    margin: 48px 0 24px 0;
}

.form-container .text-form {
    border-radius: 100px;
    border: 1px solid grey;
    padding: 4px 12px;
    margin-bottom: 18px;
    width: 280px;
    height: 40px;
    text-align: center;
}

.auth-form .button {
    border-radius: 100px;
    border: 1px solid #343a40;
    padding: 4px 12px;
    margin-bottom: 18px;
    width: 280px;
    height: 40px;
    text-align: center;
    background-color: #343a40;
    color: white;
}

.navbar {
    padding: 14px 10%;
    background-color: black !important;
}

.sidebar {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 60px;
    background-color: black;
    overflow: hidden;
    transition: 0.5s;
    white-space: nowrap;
}

.sidebar a {
    padding: 12px 32px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    color: #818181;
}

textarea {
    border: none;
    border-top: 1px solid lightgrey;
    overflow: hidden;
    padding: 12px 0;
    outline: none;
    width: 100%;
    margin-bottom: 24px;
}

#post-form .title {
    border: none;
    font-size: 32px;
    margin-bottom: 12px;
}

#post-form .category {
    background-color: white;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-bottom: 24px;
}

#post-form .title:focus, #post-form .category:focus {
    outline: none;
}

#post-form .button {
    
}
